<div style="width:100%; font-family:HelveticaNeue-Light,Arial,sans-serif;background-color: #FFFFFF;">
  <center>
    <img style="width:100%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/img02sup.jpg?alt=media&token=24411022-f044-4412-b8d8-6d5391b5452e"> 
  </center><br>
  <div style="width:100%;background-color: #FFFFFF;"> 
  <center>
    <a href="www.handlom.com" target="_blank"><img  style="width:50%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/img02btn.jpg?alt=media&token=9055531b-9938-44b7-90ca-0d252ecd3610"></a>
  </center>
  </div><br>
  <div style="width: :100%;"> 
    <img style="width:100%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/img03inf.jpg?alt=media&token=fecbc4de-f998-4f3b-a2e7-ca2c40df4e9f">
  </div>
</div>