<div style="width:100%; font-family:HelveticaNeue-Light,Arial,sans-serif;background-color: #FFFFFF;">
  <center>
    <img style="width:100%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/mailling-04_sup.jpg?alt=media&token=d48afb73-4340-4b10-9436-fe44295ae06c"> 
  </center><br>
  <div style="width:100%;background-color: #FFFFFF;"> 
  <center>
    <a href="http://52.86.45.113:8080/VentaSoluciones/index.html#/" target="_blank"><img  style="width:45%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/boton.jpg?alt=media&token=836097d1-a6c1-49d3-9a60-33c6be9d2e70"></a>
  </center>
  </div><br>
  <div style="width: :100%;"> 
    <img style="width:100%;" src="https://firebasestorage.googleapis.com/v0/b/bdappryp.appspot.com/o/pie.jpg?alt=media&token=03408c06-128d-477d-9b33-3f07f2240d89">
  </div>
</div>