
      <div class="row" style="background-image: url('img/fondo_form.jpg'); background-size: 1920px 1080px;width:1920px;height: 1065px;">
        <form class="col s12" ng-submit="agregarCategoria()" >
          <div class="row">        
            <div class="col s4"></div>
            <div class="col s8">            
              <div class="row" style="margin-top: 125px; margin-left: 25px;">
                <div class="input-field col s6">
                  <input id="contacto" name="contacto" type="text" ng-model="objPersona.contacto" class="validate" style="font-size: 2em;" required>
                  <label for="contacto" data-error="" data-success="" style="font-size: 1.75em;font-weight: bold;color: black;">CONTACTO</label>
                </div>

                <div class="input-field col s6">
                  <input id="email" name="email" type="email" ng-model="objPersona.email" class="validate" style="font-size: 2em;" required>
                  <label for="email" data-error="" data-success="" style="font-size: 1.75em;font-weight: bold;color: black;">EMAIL</label>
                </div>
              </div>            
              <div class="row" style="margin-left: 25px;">
                <div class="input-field col s6">
                  <input id="telefono" name="telefono" type="text" ng-model="objPersona.telefono" maxlength="11" minlength="7" class="validate" style="font-size: 2em;" required>
                  <label for="telefono" data-error="" data-success="" style="font-size: 1.75em;font-weight: bold;color: black;">TELEFONO</label>
                </div>
                <div class="input-field col s6">                  
                  <label for="servicio" data-error="" data-success="" style="font-size: 1.75em;font-weight: bold;color: black;">SERVICIO DE INTERES</label>                
                </div>        
              </div>
            </div>
          </div>
        <br>
          <div class="row" style="margin-top: 430px;">
            <div >
              <div class="col waves-effect" type="button" ng-click="seleccionarServicio('Publicidad_Digital')" style="width:325px;height:50px;margin-left: 85px;"></div>
              <div class="col waves-effect" type="button" ng-click="seleccionarServicio('Alquiler_de_Equipos')" style="width:325px;height:50px;margin-left: 35px;"></div>
              <div class="col waves-effect" type="button" ng-click="seleccionarServicio('Venta_de_Equipos')" style="width:325px;height:50px;margin-left: 35px;"></div>
              <div class="col waves-effect" type="button" ng-click="seleccionarServicio('Soluciones_y_Proyectos')" style="width:325px;height:50px;margin-left: 55px;"></div>
            </div>
            <div class=""> </div>
            <div class="col">            
                <input  style="display: none;" value="{{codigo}}" type="text" name="codigo" >
                <input  class="waves-effect" style="margin-top:-100px;width:275px;height:150px;margin-left: 45px; background-color: transparent;border-color: transparent;" type="submit" id="submit-btn" value="">
            </div>
          </div>
        </form>          
      </div>